@page "/about"
<PageTitle>Savia de Oro - Sobre la marca</PageTitle>

<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            @* <h2>About</h2> *@
            <h3><u>SOBRE LA MARCA</u></h3>
            <hr />
            @* <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> *@
        </div>

        <div class="row content">
            <div class="col-lg-6">
                <div class="text-center">
					<p>
						<b>PRENDAS TEÑIDAS A MANO CON PLANTAS</b>
					</p>
                </div>
                <hr />
                <div style="text-align: justify">
                    <p>
                        Savia de Oro produce colecciones limitadas de Lencería, Accesorios, Athleisure y Resort wear. Nuestras prendas se caracterizan por ser muy cómodas y versátiles, ideales para diario o noche y perfectas para viajar.
                    </p>
                    <p>
                        Nos decantamos por el elección de tejidos naturales de máxima calidad que teñimos a mano con plantas para lograr colores únicos con propiedades medicinales.
                    </p>
                    <p>
                        Este proceso tan especial, se complementa con nuestro poderoso dominio para combinar lo moderno con lo clásico. Como resultado, creamos prendas atemporales, con exóticos colores y estilo sofisticado, delicado y sutilmente sensual.
                    </p>
                    <p>
                        Las mujeres que visten nuestras prendas valoran la exclusividad y el trabajo mágico que hay detrás de cada pieza.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="/images/about/cuidados1.jpg" class="img-fluid" alt="">
            </div>
        </div>

    </div>
</section>
