@page "/clothes"
<PageTitle>Savia de Oro - Sobre la marca</PageTitle>

<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            @* <h2>About</h2> *@
            <h3><u>CUIDADO DE LAS PRENDAS</u></h3>
            <hr />
            @* <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> *@
        </div>

        <div class="row content">
            <div class="col-lg-6">
                <div class="text-center">
                    <p>
                        <b>RECOMENDACIONES DE LAVADO</b>
                    </p>
                </div>
                <hr />
                <div style="text-align: justify">
                    <p>
                        Nuestras prendas se realizan con tejidos naturales de gran calidad, al tratarse de un tejidos algo delicados, como el caso de la seda, necesitan unos cuidados especiales. Pueden lavarse en lavadora con jabón neutro y en el programa de prendas delicadas y un centrifugado suave. Para conservar el color durante más tiempo, también recomendamos lo siguiente:
                    </p>
                    <p>
                        <b>LAVAR A MANO</b>
                    </p>
                    <p>
                        Lavar a mano con agua fría y jabón neutro, especial para seda o prendas delicadas, no restregar ni frotar directamente el jabón con el tejido, mejor disolverlo primero en el agua y luego introducir la prenda. Se puede dejar en remojo unos minutos, pero no superar los 15 minutos para una mejor conservación del color.
					</p>
					<p>
                        <b>SECAR EN HORIZONTAL</b>
					</p>
                    <p>
                        Recomendamos no retorcer las prendas, si no escurrirlas y secarlas con una toalla de color claro. Para terminar de secar no es recomendable tenderlas, es mejor que se sequen en horizontal y a la sombra, para evitar que se puedan deformar o que les queden marcas.
					</p>
					<p>
                        <b>EL PLANCHADO</b>
					</p>
                    <p>
                        Los tejidos naturales se arrugan con facilidad, pero con el contacto del calor corporal se mantienen perfectamente. Debe plancharse a temperatura media y aplicando vapor, pero siempre utilizando un paño de algodón encima. En general son tejidos muy fáciles de planchar.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="/images/clothes/cuidados2.jpg" class="img-fluid" alt="">
            </div>
		</div>

		<div class="row content">
            <div class="col-lg-6">
                <div class="text-center">
                    <p>
                        <b>CUIDADOS Y COSAS QUE DEBEMOS EVITAR</b>
                    </p>
                </div>
                <hr />
                <div style="text-align: justify">
                    <p>
                        Los cuidados que requieren las prendas son los básicos que requiere cualquier prenda delicada, pero para conservar el color perfecto el mayor tiempo posible es muy importante tener algunas cosas en cuenta:
                    </p>
                    <p>
                        <b>PERFUMES Y DESODORANTES</b>
                    </p>
                    <p>
                        No rociar perfumes o colonias directamente sobre las prendas, ya que podrían manchar el tejido. A la hora de aplicarse el desodorante, esperar a que se seque completamente antes de ponerse las prendas, ya que los componentes que contienen podrían modificar el color.
                    </p>
                    <p>
                        <b>ALGUNOS ALIMENTOS</b>
                    </p>
                    <p>
                        El ácido que contienen unas simples gotas de vino, vinagre o limón harían el efecto decolorante que hace la lejía. Por lo tanto, se deben evitar los ácidos, así como los álcalis de la lejías, estos últimos no sólo estropean el color, sino que dañarían el tejido de forma irreversible.
                    </p>
                    <p>
                        <b>PH DE LA PIEL</b>
                    </p>
                    <p>
                        Al igual que con las joyas, algunos tejidos teñidos con ciertos tintes (no todos), pueden verse afectados por el PH natural de nuestra piel o el sudor, pudiendo éste modificar el color ligeramente.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="/images/clothes/cuidados3.jpg" class="img-fluid" alt="">
            </div>
		</div>

    </div>
</section>
