@page "/legal-warning"

<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            @* <h2>About</h2> *@
            <h3><u>AVISO LEGAL</u></h3>
            @* <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> *@
        </div>

        <div class="row content">
            <div class="col-lg-12">
                <p>
                    Términos y Condiciones
                </p>
                <p>
                    Estos términos y condiciones se aplican a:
                </p>
                <p>
                    La compra de productos de Savia de Oro ("SDO"), una marca que diseña y distribuye lencería premium y otros productos ("Producto (s) SDO") bajo la marca Savia de Oro. Las referencias a la Sra. Ivana Oro en estos Términos y Condiciones significan a la Sra. Ivana Oro. SDO está registrada en España y Europa con el número ES42210009h cuyo domicilio social se encuentra en Paseo San Jose 228 35015 Las Palmas de Gran Canaria
                </p>
                <p>
                    Cuando ciertas palabras y frases se usan en estos Términos y condiciones, tienen significados específicos (estos se conocen como "términos definidos"). Puede identificar estos términos definidos porque comienzan con letras mayúsculas (incluso si no están al comienzo de una oración). Cuando se usa un término definido, tiene el significado que se le da en la sección de los Términos y condiciones donde se definió (puede encontrar estos significados mirando la oración donde el término definido se incluye entre paréntesis y marcas de voz).
                    Cuando nos referimos a "usted" o "su" nos referimos a usted, la persona que usa los Servicios. Cuando nos referimos a "nosotros", "nosotros" o "nuestro" nos referimos a SDO.
                    Su uso del Sitio y su compra de cualquier Producto SDO ofrecido en el Sitio está sujeto a estos Términos y Condiciones y al utilizar el Sitio y / o realizar un pedido de cualquier Producto SDO en el Sitio que usted acuerde estar obligado por ellos. Si no acepta estos Términos y condiciones, debe abandonar el Sitio de inmediato. Debe imprimir una copia de estos Términos y condiciones para futuras referencias. El uso de su información personal enviada ao a través del Sitio se rige por nuestra Política de Privacidad y Cookies.
                </p>
                <p>
                    Nos reservamos el derecho de cambiar estos Términos y condiciones de vez en cuando cambiándolos en el Sitio, aunque dicho cambio no afectará ningún pedido que ya haya realizado con nosotros.
                </p>
                <p>
                    Es su responsabilidad asegurarse de que su equipo (computadora, computadora portátil, netbook, tableta u otro dispositivo móvil) cumpla con todas las especificaciones técnicas necesarias para permitirle acceder y utilizar el Sitio y sea compatible con el Sitio.
                </p>
                <p>
                    Es posible que, de vez en cuando, restrinjamos el acceso a ciertas funciones, partes o contenido del Sitio, o todo el Sitio, a los usuarios que se han registrado con nosotros. Debe asegurarse de que los detalles de registro que proporcione sean precisos. Si elige, o se le proporciona, una identificación de inicio de sesión (como un nombre de usuario y contraseña u otro identificador) como parte de nuestros procedimientos de seguridad, debe tratar dicha información como confidencial y no debe revelarla a nadie más. Usted es responsable de todas las actividades que ocurran en su identificación de inicio de sesión y debe notificarnos inmediatamente sobre cualquier uso no autorizado u otra violación de seguridad de la que tenga conocimiento. Nos reservamos el derecho de inhabilitar cualquier ID de inicio de sesión, en cualquier momento, si en nuestra opinión usted no ha cumplido con alguna de las disposiciones de estos Términos y condiciones o si los detalles que proporciona a los fines de registrarse como usuario prueban ser falso.
                </p>
                <p>
                    No puede transferir ni ceder ninguno o todos sus derechos u obligaciones bajo ningún Contrato.
                </p>
                <p>
                    Todas las notificaciones que nos envíe deben enviarse por escrito a la dirección que se indica al final de estos Términos y condiciones. Podemos enviarle una notificación a la dirección de correo electrónico o postal que nos proporciona al realizar un pedido.
                </p>
                <p>
                    Si incumple estos Términos y condiciones y no tomamos ninguna medida, o si nos demoramos en tomar medidas, eso no significa que hayamos renunciado a nuestros derechos y aún tendremos derecho a utilizar nuestros derechos y recursos. Si renunciamos a un incumplimiento por su parte, solo lo haremos por escrito, y eso no significa que renunciaremos automáticamente a cualquier incumplimiento posterior.
                    Cada una de las secciones y párrafos de estos Términos y condiciones funciona por separado. Si se determina que alguna disposición de estos Términos y condiciones es ilegal o inaplicable, todas las demás disposiciones permanecerán en pleno vigor y efecto.
                </p>
                <p>
                    Estos Términos y condiciones no pueden variarse excepto con nuestro consentimiento expreso por escrito.
                </p>
                <p>
                    Estos Términos y Condiciones y cualquier documento expresamente mencionado en ellos representan el acuerdo completo entre usted y nosotros en relación con el objeto de cualquier Contrato. La ley nos exige que le avisemos que los contratos pueden concluirse solo en inglés y que no se aplican requisitos de presentación pública.
                </p>
                <p>
                    Estos Términos y condiciones se regirán por la legislación española, y todas las disputas o reclamaciones que surjan de o en relación con estos Términos y condiciones o su contenido o formación (incluidas las disputas o reclamaciones no contractuales) se regirán por la legislación española.
                </p>
                <p>
                    Cualquier disputa (incluidas las disputas o reclamaciones no contractuales) con respecto a estos Términos y condiciones se someterá, sujeto a lo dispuesto a continuación, a la jurisdicción exclusiva de los tribunales españoles. Nada en estos Términos y condiciones limitará el derecho de SDO de iniciar acciones contra usted en cualquier tribunal a nivel mundial por medidas cautelares y de otro tipo en la medida permitida por la ley de dicha jurisdicción.
                </p>
                <p>
                    Operamos un procedimiento de manejo de quejas que usaremos para tratar de resolver disputas cuando surjan por primera vez. Por favor, háganos saber si tiene alguna queja o comentario. Consulte la sección Cómo ponerse en contacto con nosotros a continuación para obtener detalles sobre cómo ponerse en contacto.
                </p>
                <p>
                    <b>Contactando con nosotros</b>
                </p>
                <p>
                    Envíe cualquier pregunta que tenga sobre estos Términos y condiciones o un pedido que haya realizado u ordenado en general por correo electrónico a info@saviadeoro.com
                </p>
                <p>
                    <b>Operación del sitio web y entrega de servicios</b>
                </p>
                <p>
                    El sitio web es propiedad de SDO. SDO ha subcontratado la operación de ciertos aspectos del sitio web a Prestashop. Como tal, Prestashop proporciona y / o contrata determinados servicios en nombre de SDO para permitir el funcionamiento del sitio web y para que pueda buscar a través del sitio web y comprar productos SDO desde SDO y cualquier proveedor de red relevante. Dichos servicios incluyen, entre otros, procesamiento de pagos, servicio al cliente, alojamiento y logística de entrega.
                </p>
                <p>
                    Tenga en cuenta que DHL le proporciona el servicio de logística de entrega a usted, el cliente, y como tal, está celebrando un contrato para los servicios de entrega proporcionados por DHL. DHL puede hacer un cargo por estos Servicios que se mostrarán antes del pago y la compra de los Productos SDO.
                </p>
                <p>
                    <b>Productos SDO</b>
                </p>
                <p>
                    Los productos SDO son propiedad y se venden en el sitio web por SDO o el proveedor de red correspondiente. Intentamos ser lo más precisos posible en la descripción de los productos SDO. Sin embargo, no podemos garantizar que las descripciones sean totalmente precisas, completas, confiables o libres de errores.
                </p>
                <p>
                    Las imágenes de los productos SDO en el sitio web son solo para fines ilustrativos. Aunque intentamos ser lo más precisos posible en la descripción de los Productos SDO, a través de las fotografías y otras imágenes que aparecen en el Sitio, los detalles (como el color, el diseño y la textura, etc.) que ve en la pantalla dependerán de su monitor y, como tal, puede no reflejar exactamente los detalles reales de un Producto SDO cuando lo recibe.
                </p>
                <p>
                    Cualquier información en el Sitio sobre el tamaño de los Productos SDO se incluye solo como una guía. Si tiene alguna duda sobre el tamaño de cualquier Producto SDO que necesite, le recomendamos que se comunique con nosotros antes de hacer un pedido.
                </p>
                <p>
                    Como consumidor, usted tiene derechos legales en relación con productos defectuosos o no según lo descrito. Puede obtener asesoramiento sobre sus derechos legales en el Buró de Asesoramiento Ciudadano o en la oficina de Estándares Comerciales. Nada en estos Términos y condiciones afectará estos derechos legales.
                </p>
                <p>
                    Los productos SDO vendidos se suministran solo para su uso doméstico y privado. Usted acepta que no utilizará los Productos SDO para fines comerciales, comerciales o de reventa. Ni SDO, los Proveedores de la red ni DHL tienen ninguna responsabilidad hacia usted por cualquier pérdida de beneficios, pérdida de negocio, interrupción del negocio o pérdida de oportunidad comercial.
                </p>
                <p>
                    <b>Ordenando y availabylity</b>
                </p>
                <p>
                    Los productos SDO se pueden pedir haciendo clic en los artículos que desea comprar y luego siguiendo las indicaciones que aparecerán en la pantalla. Puede verificar y corregir cualquier error de entrada en su pedido hasta el momento en que nos envíe su pedido haciendo clic en el botón "Pagar ahora" en la página de pago.
                </p>
                <p>
                    Después de realizar un pedido, recibirá un correo electrónico en el que se le confirmará que recibimos su pedido y le daremos un número de referencia de pedido ("Confirmación del pedido"). Tenga en cuenta que esto no significa que su pedido ha sido aceptado. Su pedido constituye una oferta para comprar un producto SDO. Todos los pedidos están sujetos a aceptación. SDO (o cualquier proveedor de red, según corresponda) no está obligado a aceptar su pedido y puede, a su criterio, negarse a aceptar cualquier pedido. Sin embargo, usted reconoce que al hacer clic en el botón "Pagar ahora", ingresa la obligación de pagar los Productos de SDO. Cuando su pedido sea aceptado, le confirmaremos dicha aceptación enviándole un correo electrónico que confirme que el Producto SDO ha sido enviado ("Confirmación de envío"). El Contrato entre (i) usted y (ii) SDO o el Proveedor de la red (según corresponda) en relación con los Productos de SDO solicitados solo se formarán cuando le enviemos la Confirmación de envío. Después de celebrar el Contrato, SDO o el Proveedor de la red (según corresponda) estarán bajo la obligación legal de suministrarle bienes que estén en conformidad con el Contrato.
                </p>
                <p>
                    El Contrato se referirá únicamente a los Productos de SDO cuyo envío haya sido confirmado en la Confirmación de Envío. No habrá obligación de suministrar ningún otro Producto de SDO que pueda haber sido parte de su pedido hasta que el envío de dicho (s) Producto (s) SDO haya sido confirmado en una Confirmación de envío por separado.
                </p>
                <p>
                    <b>Productos defectuosos de SDO</b>
                </p>
                <p>
                    Si algún Producto SDO que usted solicita está dañado o es defectuoso cuando se le entregó o si ha desarrollado una falla, puede tener uno o más recursos legales disponibles para usted, dependiendo de cuándo nos comunique el problema, de acuerdo con sus derechos legales. Si cree que un Producto SDO fue entregado dañado o defectuoso o ha desarrollado una falla, debe informarnos tan pronto como sea posible, preferiblemente por escrito, proporcionando su nombre, dirección y referencia de pedido. Nada en esta sección afecta sus derechos legales.
                </p>
                <p>
                    <b>Lo que se te permite hacer</b>
                </p>
                <p>
                    Solo puede utilizar el Sitio para uso no comercial y solo de acuerdo con estos Términos y condiciones. Puede recuperar y mostrar contenido del Sitio en una pantalla de computadora, imprimir y copiar páginas individuales y, sujeto a la siguiente sección, almacenar dichas páginas en formato electrónico. Los términos adicionales también pueden aplicarse a ciertas características, partes o contenido del Sitio y, cuando se apliquen, se mostrarán en pantalla o se podrá acceder a ellos a través de un enlace.
                </p>
                <p>
                    <b>Lo que no tienes permitido hacer</b>
                </p>
                <p>
                    Excepto en la medida expresamente establecida en estos Términos y condiciones, no tiene permitido:
                </p>
                <p>
                    'Raspar' el contenido o almacenar el contenido del sitio en un servidor u otro dispositivo de almacenamiento conectado a una red o crear una base de datos electrónica mediante la descarga y el almacenamiento sistemático de todo el contenido del sitio;
                </p>
                <p>
                    Eliminar o cambiar cualquier contenido del Sitio o intentar eludir la seguridad o interferir con el funcionamiento adecuado del Sitio o de los servidores en los que está alojado
                </p>
                <p>
                    Crear enlaces al Sitio desde cualquier otro sitio web, sin nuestro consentimiento previo por escrito, aunque puede vincular desde un sitio web operado por usted siempre que el enlace no sea engañoso o engañoso e indique su destino, no implica que respaldemos usted, su sitio web o cualquier producto o servicio que ofrezca, enlaza (y no enmarca o reproduce) la página de inicio del Sitio, y el sitio web vinculado no contiene ningún contenido que sea ilegal, amenazante, abusivo, difamatorio, pornográfico, obsceno, vulgar, indecente, ofensivo o que infrinja los derechos de propiedad intelectual u otros derechos de un tercero.
                </p>
                <p>
                    Solo debe usar el Sitio y todo lo que esté disponible en el Sitio para fines legales (cumplir con todas las leyes y regulaciones aplicables) de manera responsable y no de una manera que pueda dañar los nombres o reputaciones de la Sra. Ivana Oro o SDO o aquellos de cualquiera de nuestros afiliados.
                </p>
                <p>
                    Todos los derechos que se le otorgan en virtud de estos Términos y condiciones finalizarán de inmediato en caso de que no cumpla con alguno de ellos.
                </p>
                <p>
                    En cumplimiento de cualquier ley aplicable o orden público, informaremos de tal incumplimiento a las autoridades competentes y les revelaremos su identidad.
                </p>
                <p>
                    <b>Derechos de propiedad intelectual</b>
                </p>
                <p>
                    Todos los derechos de propiedad intelectual sobre cualquier contenido del Sitio (incluidos texto, gráficos, software, fotografías y otras imágenes, videos, sonido, marcas comerciales y logotipos) ("Contenido") son propiedad de SDO o de nuestros respectivos licenciantes. Los derechos en el sitio web y el contenido están protegidos por las leyes internacionales de derechos de autor, así como por cualquier ley nacional relevante sobre derecho de autor, derechos de autor y derechos de base de datos. Todos los derechos están reservados.
                    Salvo lo expresamente establecido aquí, nada en estos Términos y condiciones le otorga ningún derecho con respecto a ninguna propiedad intelectual propiedad de SDO o de nuestros respectivos licenciantes y usted reconoce que no adquiere ningún derecho de propiedad al descargar contenido del Sitio. En caso de que imprima, copie o almacene páginas del Sitio (solo según lo permitido por estos Términos y condiciones), debe asegurarse de que se reproduzca cualquier derecho de autor, marca comercial u otro aviso de propiedad intelectual contenido en el contenido original.
                </p>
                <p>
                    No debe extraer sistemáticamente y / o volver a utilizar partes del Sitio, las Marcas comerciales, el Nombre comercial, las Marcas propietarias o el Contenido. En particular, no debe usar ningún tipo de minería de datos, robots o herramientas similares de recopilación y extracción de datos para extraer (ya sea una o varias veces) la reutilización de partes sustanciales del Sitio. No debe crear y / o publicar su propia base de datos que incluya partes sustanciales del Sitio (por ejemplo, precios y listas de productos) sin el previo consentimiento por escrito de SDO.
                </p>
                <p>
                    <b>Contenido</b>
                </p>
                <p>
                    Podemos cambiar el formato y el contenido del Sitio de vez en cuando. Usted acepta que su uso del Sitio se realiza "tal cual" y "según disponibilidad" y bajo su propio riesgo.
                </p>
                <p>
                    Mientras tratamos de asegurarnos de que toda la información contenida en el Sitio (que no sea cualquier contenido generado por el usuario) sea correcta, no pretende constituir autoridad o consejo sobre la cual se debe confiar. Debe consultar con nosotros o la fuente de información relevante antes de actuar sobre dicha información.
                </p>
                <p>
                    Hacemos o no damos ninguna representación o garantía en cuanto a la precisión, integridad, vigencia, corrección, fiabilidad, integridad, calidad, idoneidad para el propósito u originalidad de cualquier contenido del Sitio y, en la medida máxima permitida por la ley, todas las garantías implícitas, las condiciones u otros términos de cualquier tipo quedan excluidos y no aceptamos ninguna responsabilidad por cualquier pérdida o daño de cualquier tipo incurridos como resultado de que usted o cualquier otra persona utilice el Sitio o dependa de su contenido.
                </p>
                <p>
                    No podemos y no garantizamos que cualquier contenido del Sitio estará libre de virus y / u otro código que pueda tener elementos contaminantes o destructivos. Es su responsabilidad implementar salvaguardas de seguridad de TI apropiadas (incluyendo antivirus y otras verificaciones de seguridad) para satisfacer sus requisitos particulares en cuanto a la seguridad y fiabilidad del contenido.
                </p>
                <p>
                    <b>Enlaces externos</b>
                </p>
                <p>
                    El Sitio puede, de vez en cuando, incluir enlaces a sitios externos, que pueden incluir enlaces a ofertas y promociones de terceros. Incluimos estos para proporcionarle acceso a información, productos o servicios que puede considerarle útiles o interesantes. No somos responsables del contenido de estos sitios o de cualquier cosa provista por ellos y no garantizamos que estarán continuamente disponibles. El hecho de que incluyamos enlaces a dichos sitios externos no implica ningún endoso o asociación con sus operadores o promotores.
                </p>
                <p>
                    <b>Nuestra responsabilidad</b>
                </p>
                <p>
                    Nada en estos Términos y condiciones limitará o excluirá nuestra responsabilidad hacia usted:
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Por muerte o daños personales causados ​​por nuestra negligencia</li>
                    <li><i class="ri-check-double-line"></i> Por tergiversación fraudulenta</li>
                    <li><i class="ri-check-double-line"></i> Por cualquier otra responsabilidad que, por ley, no esté limitada o excluida.</li>
                </ul>
                <p>
                    Sujeto a esto, en ningún caso seremos responsables ante usted de ninguna pérdida comercial y cualquier responsabilidad que tengamos por las pérdidas que usted sufra derivadas de cualquier Contrato no excederá el precio de compra de los Productos de SDO pertinentes y se limitará estrictamente a pérdidas que eran razonablemente previsibles. Las pérdidas son previsibles donde podrían ser contempladas por usted y nosotros en el momento en que su pedido sea aceptado por nosotros.
                </p>
                <p>
                    No seremos responsables de ningún incumplimiento o retraso en el cumplimiento de cualquiera de nuestras obligaciones en virtud de un Contrato causado por hechos fuera de nuestro control razonable.
                </p>
                <p>
                    Un evento fuera de nuestro control razonable significa cualquier acto o evento más allá de nuestro control razonable como acto (s) de Dios, guerras, ataques terroristas, embargos, disturbios, huelgas, cierres patronales, conflictos comerciales, incendios, inundaciones, terremotos u otros desastres naturales, inclemencias del tiempo, interrupción del transporte, acción del gobierno o falla de las redes públicas o privadas de telecomunicaciones o transporte.
                    Si tal evento tiene lugar y afecta el desempeño de nuestras obligaciones hacia usted: (i) nos contactaremos con usted tan pronto como sea razonablemente posible para notificarle; y (ii) nuestras obligaciones con usted serán suspendidas por la duración del evento. Cuando el evento afecte la entrega de Productos SDO a usted, nos contactaremos con usted para concertar una nueva fecha de entrega luego de que termine el evento.
                </p>
                <p>
                    <b>Política de abastecimiento ético</b>
                </p>
                <p>
                    Como empresas confiables y de confianza comprometidas a ofrecer a sus clientes productos de alta calidad, SDO tiene la obligación de garantizar que todos los proveedores de red y otros proveedores funcionen de forma ética. SDO espera que todos los proveedores de red y otros proveedores proporcionen constantemente un entorno que proteja la salud y la seguridad de sus empleados y los derechos humanos básicos. Se espera que todos los proveedores de red y otros proveedores cumplan con sus leyes y regulaciones nacionales de empleo con especial atención a: edad mínima de empleo, empleo libremente elegido, salud y seguridad, libertad de asociación y el derecho a la negociación colectiva, sin discriminación, sin dureza o trato inhumano, horas de trabajo, tasas de pago y condiciones de empleo.
                    SDO nunca permitirá a sabiendas que un proveedor de red ofrezca productos SDO en el sitio si dichos productos SDO provienen de países que incumplen estos principios. SDO también busca proveedores de red y otros proveedores para inculcar estos principios cuando se trata de su propia base de proveedores. Debido a la naturaleza a veces compleja de la cadena de suministro de los proveedores de red y otros proveedores, no siempre es posible controlar y controlar las condiciones de cada individuo involucrado en la producción de los productos SDO. Sin embargo, SDO reconoce la importancia de ser proactivo y hacer todo lo que esté a su alcance para respaldar los derechos de las personas involucradas en la fabricación y suministro de los Productos SDO.
                </p>
            </div>
        </div>

    </div>
</section>
