@page "/privacy-policies"

<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            @* <h2>About</h2> *@
            <h3><u>POLÍTICA DE PRIVACIDAD</u></h3>
            @* <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> *@
        </div>

        <div class="row content">
            <div class="col-lg-12">
                <p>
                    Esta es la política de privacidad y cookies (la "Política de privacidad y cookies") para http//: wwwsaviadeoro.com, que es el sitio web de comercio electrónico de Savia de Oro ("SDO"). Las definiciones utilizadas en esta Política de Privacidad y Cookies tendrán el mismo significado que se establece en los Términos y Condiciones. A los efectos de la Ley de Protección de Datos de 1998, SDO es el controlador de datos.
                </p>
                <p>
                    Estamos comprometidos a proteger su privacidad en línea. Agradecemos que no desee que la información personal que nos proporciona se distribuya indiscriminadamente y aquí explicamos cómo recopilamos información, qué hacemos con ella y qué controles tiene.
                </p>
                <p>
                    Al utilizar el Sitio, usted acepta la recopilación y el uso de la información de acuerdo con esta Política de Privacidad y Cookies.
                </p>
                <p>
                    Nos reservamos el derecho de cambiar esta Política de Privacidad y Cookies de vez en cuando cambiándola en el Sitio. Regrese con frecuencia para ver cualquier actualización o cambio en la Política de Privacidad y Cookies.
                </p>
                <p>
                    <b>La información se recogerá de usted</b>
                </p>
                <p>
                    Podemos recopilar y procesar la siguiente información sobre usted:
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Información (como su nombre, dirección de correo electrónico, dirección postal y número de teléfono) que usted proporciona completando formularios en el Sitio, incluso si se registra como usuario del Sitio, se suscribe a cualquier servicio, carga o envía cualquier material a través del Sitio, solicite cualquier información o participe en cualquier competencia o promoción que podamos patrocinar</li>
                    <li><i class="ri-check-double-line"></i> En conexión con una instalación de inicio de sesión, su inicio de sesión y detalles de la contraseña</li>
					<li><i class="ri-check-double-line"></i> Detalles de cualquier transacción realizada por usted a través del Sitio</li>
					<li><i class="ri-check-double-line"></i> Comunicaciones que nos envía, por ejemplo, para informar un problema o para enviar consultas, inquietudes o comentarios sobre el Sitio o su contenido</li>
                    <li><i class="ri-check-double-line"></i> Información de encuestas que, de vez en cuando, se pueden ejecutar en el Sitio con fines de investigación, si elige responderlas o participar en ellas</li>
                </ul>
                <p>
                    Usted no está obligado a proporcionar dicha información. Sin embargo, si elige retener la información solicitada, es posible que no podamos proporcionarle ciertos servicios.
                </p>
                <p>
                    De vez en cuando, podemos ejecutar programas de derivación o iniciativas similares, como el programa "Cuéntale a un amigo", que lo invitan a proporcionarnos los datos de contacto de alguien que usted conoce y que puede encontrar nuestros productos o servicios a ser de interés. Solo utilizaremos esos datos de contacto a los fines de la iniciativa pertinente (y no para fines de marketing general). Al proporcionarnos sus datos, usted confirma que tiene permiso para hacerlo y no debe proporcionar los detalles de ninguna persona de la que no haya recibido permiso. Nos reservamos el derecho de identificarlo como la persona que hizo la referencia en el mensaje que se le envió.
                </p>
                <p>
                    Cuando visite el sitio, recopilaremos automáticamente información adicional sobre usted, como el tipo de navegador de Internet que utiliza, cualquier sitio web desde el que haya ingresado al sitio y su dirección IP (la dirección única que identifica su computadora en Internet). ) que nuestro servidor web reconoce automáticamente. No puede identificar a partir de esta información y solo se utiliza para ayudarnos a proporcionar un servicio eficaz en el Sitio y para recopilar información demográfica amplia para uso agregado.
                </p>
                <p>
                    <b>Nuestras cookies</b>
                </p>
                <p>
                    Usamos tecnología como "cookies" para recopilar información y almacenar sus preferencias en línea. Las cookies son pequeñas piezas de información enviadas por un servidor web a un navegador web, lo que permite que el servidor identifique de manera única el navegador en cada página.
                </p>
                <p>
                    Usamos las siguientes categorías de cookies en el Sitio.
                </p>
                <p>
                    <i class="bi bi-square-fill"></i>   CATEGORÍA 1: COOKIES ESTRICTAMENTE NECESARIAS
                </p>
                <p>
                    Estas cookies son esenciales para permitirle moverse por el Sitio y usar sus funciones. Sin estas cookies, no se pueden proporcionar servicios que haya solicitado, como recordar sus detalles de inicio de sesión o artículos de la cesta de la compra.
                </p>
                <p>
                    <i class="bi bi-square-fill"></i>   CATEGORÍA 2: COOKIES DE RENDIMIENTO
                </p>
                <p>
                    Estas cookies recopilan información anónima sobre cómo las personas usan el Sitio. Por ejemplo, utilizamos las cookies de Google Analytics para ayudarnos a comprender cómo los clientes llegan al sitio, navegar o usar el sitio y destacar las áreas en las que podemos mejorar áreas como la navegación, la experiencia de compra y las campañas de marketing. Los datos almacenados por estas cookies nunca muestran detalles personales a partir de los cuales se puede establecer su identidad individual.
                </p>
                <p>
                    <i class="bi bi-square-fill"></i>   CATEGORÍA 3: COOKIES DE FUNCIONALIDAD
                </p>
                <p>
                    Estas cookies recuerdan las elecciones que realiza, como el país desde el que visita el sitio, el idioma y los parámetros de búsqueda, como el tamaño, el color o la línea de productos. Estos pueden usarse para brindarle una experiencia más apropiada para sus selecciones y para hacer que las visitas sean más personalizadas y agradables. La información que estas cookies recopilan puede ser anonimizada y no pueden rastrear su actividad de navegación en otros sitios web.
                </p>
                <p>
                    <i class="bi bi-square-fill"></i>   CATEGORÍA 4: COOKIES DE OBJETIVO O COOKIES DE PUBLICIDAD
                </p>
                <p>
                    Estas cookies recopilan información sobre sus hábitos de navegación para hacer publicidad más relevante para usted y sus intereses. También se usan para limitar la cantidad de veces que ve un anuncio y para ayudar a medir la efectividad de una campaña publicitaria. Las cookies generalmente son colocadas por redes publicitarias de terceros. Recuerdan los sitios web que visita y esa información se comparte con otras partes, como los anunciantes. Por ejemplo, utilizamos compañías de terceros como Criteo para proporcionarle anuncios más personalizados cuando visita otros sitios web.
                </p>
                <p>
                    <i class="bi bi-square-fill"></i>   CATEGORÍA 5: COOKIES DE MEDIOS SOCIALES
                </p>
                <p>
                    Estas cookies le permiten compartir lo que ha estado haciendo en el Sitio en las redes sociales como Facebook y Twitter. Estas cookies no están bajo nuestro control. Consulte las respectivas políticas de privacidad sobre cómo funcionan sus cookies.
                </p>
                <p>
                    Si desea eliminar las cookies que ya están en su computadora, consulte el área de ayuda y soporte en su navegador de Internet para obtener instrucciones sobre cómo ubicar el archivo o directorio que almacena las cookies.
                </p>
                <p>
                    La información sobre cómo eliminar o controlar las cookies está disponible en www.AboutCookies.org. Tenga en cuenta que al eliminar nuestras cookies o deshabilitar futuras cookies, es posible que no pueda acceder a ciertas áreas o características del sitio.
                </p>
                <p>
                    Para optar por no ser rastreado por Google Analytics en todos los sitios web, visite el add-on del navegador de exclusión de Google Analytics.
                </p>
                <p>
                    Si desea optar por no participar en otras cookies de terceros relacionadas con la publicidad conductual, visite www.youronlinechoices.eu. La exclusión no significa que ya no recibirá publicidad en línea. Significa que la empresa o las empresas de las que optó por no recibirán anuncios adaptados a sus preferencias y patrones de uso.
                </p>
                <p>
                    Nosotros (y otros terceros que actúen en nuestro nombre) podemos rastrear y recopilar automáticamente información sobre la dirección IP, el servicio de dominio, la ubicación del país, la zona horaria, el idioma, el tipo de computadora y navegador que está utilizando y las páginas que visita (incluidos mediante el uso de balizas web y otra tecnología similar). Si accede al Sitio a través de su dispositivo móvil, también podemos recopilar información sobre su proveedor de telefonía móvil y su dispositivo móvil. Utilizamos esta información para que podamos administrar y mejorar nuestro sistema, analizar tendencias, rastrear los movimientos de los usuarios, recopilar información demográfica amplia para uso agregado y detectar transacciones sospechosas o fraudulentas. Si estos procesos automatizados rechazan su transacción debido a que es sospechosa o fraudulenta, puede comunicarse con nosotros y pedirnos que reconsideremos la decisión dentro de los 21 días posteriores a la recepción de dicha notificación. Es probable que usemos criterios muy similares para revisar su transacción en persona, por lo que no hay garantía de que la decisión sea diferente.
                </p>
                <p>
                    <b>Usos hechos de su información</b>
                </p>
                <p>
                    Utilizaremos la información que proporcione a:
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Nos permite procesar sus pedidos y proporcionarle los servicios y la información ofrecidos a través del Sitio y que usted solicita</li>
                    <li><i class="ri-check-double-line"></i> Administrar su cuenta con nosotros</li>
                    <li><i class="ri-check-double-line"></i> Verificar y llevar a cabo transacciones financieras en relación con los pagos que realice en línea</li>
                    <li><i class="ri-check-double-line"></i> Auditar la descarga de datos del sitio</li>
                    <li><i class="ri-check-double-line"></i> Mejorar el diseño y / o el contenido de las páginas del Sitio y personalizarlas para los usuarios</li>
                    <li><i class="ri-check-double-line"></i> Identificar visitantes al sitio</li>
                    <li><i class="ri-check-double-line"></i> Llevar a cabo investigaciones sobre los datos demográficos de nuestros usuarios y el seguimiento de los datos de ventas</li>
                    <li><i class="ri-check-double-line"></i> Enviarle información que creemos que puede serle útil o que nos ha solicitado, incluida información sobre nuestros productos y servicios, siempre que haya indicado que no tiene inconveniente en que nos pongamos en contacto con usted para estos fines</li>
                </ul>
                <p>
                    Puede solicitarnos que no lo contactemos con información sobre nuestros productos y servicios en el momento en que se recopila dicha información en el Sitio (marcando o desmarcando (según se indique) el recuadro correspondiente) o, en el caso de que no desee que lo hagamos. continúe usando su información de esta manera, siguiendo las instrucciones para darse de baja en cualquier comunicación que se le envíe. También puede ejercer este derecho en cualquier momento poniéndose en contacto con nosotros mediante los detalles de Contacto al final de esta Política de Privacidad y Cookies
                </p>
                <p>
                    <b>El intercambio de información</b>
                </p>
                <p>
                    Podemos divulgar estadísticas globales sobre los visitantes del Sitio, los clientes y las ventas para describir nuestros servicios a posibles socios, anunciantes, patrocinadores y otros terceros de buena reputación y para otros fines legales, pero estas estadísticas no incluirán información de identificación personal. divulgar estadísticas globales sobre los visitantes del Sitio, los clientes y las ventas para describir nuestros servicios a posibles socios, anunciantes, patrocinadores y otros terceros de buena reputación y para otros fines legales, pero estas estadísticas no incluirán información de identificación personal.
                </p>
                <p>
                    <b>Foro publico</b>
                </p>
                <p>
                    El Sitio puede, de vez en cuando, poner a disposición de sus usuarios salas de chat, tableros de mensajes, grupos de noticias u otros foros públicos. Cualquier información que se divulgue en estas áreas se convierte en información pública y debe tener precaución al usarlas y nunca divulgar su información personal.
                </p>
                <p>
                    <b>Seguridad infantil</b>
                </p>
                <p>
                    Proteger la seguridad de los niños cuando usan Internet es muy importante para nosotros. Recomendamos que los niños reciban permiso de sus padres o tutores antes de obtener acceso al sitio o enviarnos información personal a nosotros o a cualquier otra persona en línea.
                </p>
                <p>
                    <b>Enlaces externos</b>
                </p>
                <p>
                    El Sitio puede, de vez en cuando, contener enlaces a sitios externos. No somos responsables de las políticas de privacidad o el contenido de dichos sitios.
                </p>
                <p>
                    <b>Procesando pago</b>
                </p>
                <p>
                    Los datos de pago que proporcione se cifrarán utilizando la tecnología de capa de conexión segura (SSL) antes de que se envíen a través de Internet. Los pagos realizados en el Sitio se realizan a través de nuestro proveedor de puerta de enlace de pago de vez en cuando, incluido PayPal. Proporcionará información de la tarjeta de crédito o débito directamente a dicho proveedor de pagos que opera un servidor seguro para procesar los detalles de pago, encriptando su información de tarjeta de crédito / débito y autorizando el pago. La información que proporcione a dichos proveedores de pago no está bajo nuestro control y estará sujeta a su propia política de privacidad y términos y condiciones. Para obtener más información, contáctenos.
                </p>
                <p>
                    <b>Seguridad</b>
                </p>
                <p>
                    Damos gran importancia a la seguridad de toda la información de identificación personal asociada con nuestros usuarios. Tenemos medidas de seguridad para tratar de proteger contra la pérdida, el uso indebido y la alteración de la información personal bajo nuestro control. Por ejemplo, nuestras políticas de seguridad y privacidad se revisan y mejoran periódicamente según sea necesario y solo el personal autorizado tiene acceso a la información personal. Si bien no podemos garantizar ni garantizar que la pérdida, el uso indebido o la alteración de la información nunca ocurra, hacemos todos los esfuerzos razonables para evitarlo.
                </p>
                <p>
                    Debe tener en cuenta que la presentación de información a través de Internet nunca es del todo segura. No podemos garantizar la seguridad de la información que envía a través del Sitio mientras está en tránsito a través de Internet y cualquier envío es bajo su propio riesgo.
                </p>
                <p>
                    Es aconsejable cerrar su navegador cuando haya terminado su sesión de usuario para asegurarse de que otros no accedan a su información personal si usa una computadora compartida o una computadora en un lugar público.
                </p>
                <p>
                    <b>Almacenamiento de su información</b>
                </p>
                <p>
                    Su información personal puede ser transferida y almacenada en un destino fuera del Área Económica Europea ("EEE"), incluido EE. UU. Los EE. UU. Y otros países no pertenecientes al EEE no tienen leyes de protección de datos similares al EEE, y debe tener en cuenta en particular que la legislación y práctica en Estados Unidos con respecto al acceso de la autoridad policial a los datos es significativamente diferente de Europa. Cuando transfiramos su información, tomaremos todas las medidas razonables para garantizar que sus derechos de privacidad continúen.
                </p>
            </div>
        </div>

    </div>
</section>

