@page "/size"
<PageTitle>Savia de Oro - Sobre la marca</PageTitle>

<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            @* <h2>About</h2> *@
            <h3><u>EQUIVALENCIA DE TALLAS</u></h3>
            <hr />
            @* <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> *@
        </div>

        <div class="row content">
            <div class="col-lg-6">
                <img src="/images/size/sujetadores-bras.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6">
                <img src="/images/size/braguitas-briefs.jpg" class="img-fluid" alt="">
            </div>
        </div>

    </div>
</section>
