@page "/stores"

<PageTitle>Savia de Oro - Tiendas</PageTitle>

<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            @* <h2>Services</h2> *@
            <h3><u>TIENDAS</u></h3>
            @* <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> *@
            <p><h6>¿Dónde nos puedes encontrar?</h6></p>
        </div>

        <div class="row text-center">
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <h4 class="title"><a>GIPUZKOA</a></h4>
                    <p class="description">Amua</p>
                    <p class="description">Donibane kalea,15 bjC</p>
                    <p class="description">Pasai Donibane Gipuzkoa</p>
                    <p class="description">20110</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <h4 class="title"><a>TENERIFE</a></h4>
                    <p class="description">Fashion Space Art</p>
                    <p class="description">Avda de Francia A05</p>
                    <p class="description">Costa Adeje</p>
                    <p class="description">38660</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <h4 class="title"><a>MADRID</a></h4>
                    <p class="description">Museo Thyssen-Bornemisza</p>
                    <p class="description">Paseo de Prado 8</p>
                    <p class="description">Madrid</p>
                    <p class="description">28014</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->