<AuthorizeView>
    <Authorized>
        <li><a href="/accounts/edit">Hola, @context.User.Identity!.Name</a></li>
        <li><a href="/accounts/logout" class="nav-link btn btn-link">Cerrar Sesión</a></li>
    </Authorized>
    <NotAuthorized>
        <li><a href="/accounts/register" class="nav-link btn btn-link">Registro</a></li>
        <li><a class="nav-link btn btn-link" @onclick="() => ModalDialog.Open()">Iniciar sesión</a></li>
        @* <li><a href="/accounts/login" class="nav-link btn btn-link">Iniciar Sesión</a></li> *@
        @* <li><a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="nav-link btn btn-link">Iniciar Sesión</a></li> *@
    </NotAuthorized>
</AuthorizeView>






<ModalDialog @ref="@ModalDialog" Title="Iniciar sesión">
    <ChildContent>
        <Login />
    </ChildContent>
</ModalDialog>

@code {
    private ModalDialog ModalDialog { get; set; }
}