<AuthorizeView>
    <Authorized>
        <li><a href="/accounts/edit">Hola, @context.User.Identity!.Name</a></li>
        <li><a href="/accounts/logout" class="nav-link btn btn-link">Cerrar Sesión</a></li>
    </Authorized>
    <NotAuthorized>
        <li><a href="/accounts/register" class="nav-link btn btn-link">Registro</a></li>
        <li><a @onclick=@(()=> ShowModal()) class="nav-link btn btn-link">Iniciar Sesión</a></li>
    </NotAuthorized>
</AuthorizeView>


@code{
    [CascadingParameter]
    IModalService Modal { get; set; } = default!;

    private void ShowModal()
    {
        var options = new ModalOptions
            {
                UseCustomLayout = true,
            };

        var parameters = new ModalParameters()
            .Add(nameof(LoginModal.Title), "Iniciar sesión");

        Modal.Show<LoginModal>("Bootstrap Modal", parameters, options);
    }
}
