<AuthorizeView>
    <Authorized>
        <li><a href="/accounts/edit">Hola, @context.User.Identity!.Name</a></li>
        <li><a href="/accounts/logout" class="nav-link btn btn-link">Cerrar Sesión</a></li>
    </Authorized>
    <NotAuthorized>
        @* <li><a href="/accounts/register" class="nav-link btn btn-link">Registrar</a></li> *@
        <li><a @onclick=@(()=> ShowRegisterModal()) class="nav-link btn btn-link">Registrar</a></li>
        <li><a @onclick=@(()=> ShowLoginModal()) class="nav-link btn btn-link">Iniciar Sesión</a></li>
    </NotAuthorized>
</AuthorizeView>


@code{
    [CascadingParameter]
    IModalService Modal { get; set; } = default!;

    private void ShowLoginModal()
    {
        var options = new ModalOptions
            {
                UseCustomLayout = true,
            };

        var parameters = new ModalParameters()
            .Add(nameof(LoginModal.Title), "Iniciar sesión");

        Modal.Show<LoginModal>("Iniciar sesión", parameters, options);
    }

    private void ShowRegisterModal()
    {
        var options = new ModalOptions
            {
                UseCustomLayout = true,
            };

        var parameters = new ModalParameters()
            .Add(nameof(RegisterModal.Title), "Registrar usuario");

        Modal.Show<RegisterModal>("Bootstrap Modal", parameters, options);
    }
}
