@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<div class="page">
@*     <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
            <nav class="navbar navbar-light bg-light fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Offcanvas navbar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"  aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" @onclick="@(() => navigationManager.NavigateTo("/"))" data-bs-dismiss="offcanvas">
                                        <span class="oi oi-home" aria-hidden="true"></span> Home
                                    </NavLink>
                                </li>
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" @onclick="@(() => navigationManager.NavigateTo("/counter"))" data-bs-dismiss="offcanvas">
                                            <span class="oi oi-plus" aria-hidden="true"></span> Counter
                                    </NavLink>
                                </li>
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" @onclick="@(() => navigationManager.NavigateTo("/courses"))" data-bs-dismiss="offcanvas">
                                        <span class="oi oi-list-rich" aria-hidden="true"></span> Cursos
                                    </NavLink>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
