@page "/changes"
<PageTitle>Savia de Oro - Cambios y devoluciones</PageTitle>

<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            @* <h2>About</h2> *@
            <h3><u>CAMBIOS Y DEVOLUCIONES</u></h3>
            <hr />
            @* <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> *@
        </div>

        <div class="row content">
            <div class="col-lg-12">
                <p>
                    Debido a la naturaleza de los productos personalizados de SDO y por razones de higiene, no se aceptan reembolsos ni cambios. Nos disculpamos por cualquier incoveniente.
                </p>
                <p>
                    <b>Devoluciones y reembolsos para productos SDO personalizados</b>
                </p>
                <p>
                    No puede cancelar un Contrato para el suministro de ningún Producto SDO que se haya personalizado o hecho según sus propias especificaciones a medida, a menos que dichos Productos SDO se dañen o se dañen cuando se le entreguen o se hayan entregado incorrectamente. En este último caso:
                </p>
                <p>
                    Usted tiene la obligación legal de cuidar razonablemente los Productos SDO mientras están en su posesión, y debe devolverlos en las mismas condiciones en que los recibe (excepto en la medida razonablemente necesaria para examinarlos). Esto incluye las siguientes pautas:
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Los productos SDO se deben devolver sin usar (que no sean para probarlos), sin lavar, sin daños y sin usar con sus etiquetas originales</li>
                    <li><i class="ri-check-double-line"></i> La ropa interior debe ser devuelta en las cajas originales provistas y dentro de una caja de envío protectora</li>
                    <li><i class="ri-check-double-line"></i> Si el producto SDO viene con una etiqueta de seguridad, debe dejarlo activado.</li>
                </ul>
                <p>
                    Si no cumple con las obligaciones anteriores (incluidas las condiciones de devolución), podremos deducir del reembolso una cantidad que refleje el valor disminuido de los Productos de SDO hasta el precio total de los Productos de SDO.
                </p>
                <p>
                    Por favor, contáctenos por correo antes de que los artículos sean enviados:
                    info@saviadeoro.com
                </p>
            </div>
        </div>

    </div>
</section>