@page "/shipping"
<PageTitle>Savia de Oro - Envíos</PageTitle>

<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            @* <h2>About</h2> *@
            <h3><u>ENVÍOS</u></h3>
            @* <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> *@
        </div>

        <div class="row content">
            <div class="col-lg-12">
                <p>
                    Si solicita productos SDO para entrega internacional, las autoridades aduaneras pueden abrirlos e inspeccionarlos y pueden estar sujetos a aranceles e impuestos de importación que se aplican cuando la entrega llega al destino especificado. Usted será responsable del pago de tales aranceles e impuestos de importación. Tenga en cuenta que no tenemos control sobre estos cargos y no podemos predecir su cantidad. Por favor, póngase en contacto con su oficina de aduanas local para obtener más información antes de realizar su pedido. En el caso de que devuelva un artículo, los aranceles de importación serán reembolsados ​​si se incluyeron originalmente en el precio de compra. Si no fueron incluidos, usted será responsable de reclamar el servicio directamente desde la oficina de aduanas local.
                </p>
                <p>
                    Tenga en cuenta también que debe cumplir con todas las leyes y normativas vigentes del país al que se destinan los productos de SDO. No seremos responsables de ninguna infracción por su parte de tales leyes.
                </p>
                <p>
                    Los productos devueltos de SDO deben cumplir con nuestra política de devoluciones (la "Política de cambios y devoluciones").
                </p>
                <p>
                    <b>Precios de envío:</b>
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Islas Canarias: Gratis</li>
                    <li><i class="ri-check-double-line"></i> España: 10 euros</li>
                    <li><i class="ri-check-double-line"></i> Europa: 15 euros (A excepción de: Polonia, Croacia, Chipre, Hungría, Bulgaria, Malta, Lituania, Rumanía, Rep. Checa, Estonia, Eslovenia, Eslovaquia. Éstos serían 20 euros)</li>
                    <li><i class="ri-check-double-line"></i> USA-Canadá: 15 euros</li>
                </ul>
                <p>
                    Por la compra de dos o más piezas, el envío es gratuito.
                </p>
                <p>
                    Los envíos internacionales tienen un servicio gratuito especial “On Demand Delivery” diseñado para mejorar la experiencia de usuario en el momento de la entrega a un particular:
                </p>
                <p>
                    Mientras el envío está en tránsito, el cliente recibe un SMS o e-mail con el día estimado de entrega.
                </p>
                <p>
                    A través del link recibido el cliente accede a diferentes opciones de entrega:
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Entrega en un día distinto al previsto</li>
                    <li><i class="ri-check-double-line"></i> Entrega a sin firma</li>
                    <li><i class="ri-check-double-line"></i> Entrega a un vecino</li>
                    <li><i class="ri-check-double-line"></i> Entrega en un Punto de Servicio</li>
                    <li><i class="ri-check-double-line"></i> Dirección alternativa</li>
                    <li><i class="ri-check-double-line"></i> Almacenamiento durante las vacaciones</li>
                </ul>
                <p>
                    <b>Plazos de entrega:</b>
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Piezas en stock: el envío se hará el día hábil siguiente a la compra.</li>
                    <li><i class="ri-check-double-line"></i> Piezas hechas por encargo: Las piezas por encargo de realizarán entre 2 días y una semana. A partir de este momento, pasado el plazo, el siguiente día hábil se enviará.</li>
                    <li><i class="ri-check-double-line"></i> Envío entre Islas Canarias: De 1 a 2 días.</li>
                    <li><i class="ri-check-double-line"></i> Envío península: De 2 a 3 días</li>
                    <li><i class="ri-check-double-line"></i> Envío Intenacional: De 2 a 5 días.</li>
                </ul>
            </div>
        </div>

    </div>
</section>